<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DisasterMaps</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @if (!ViewData["Title"].Equals("Home Page"))
    {
        <div class="pos-f-t" style="text-align: center;">
            <div class="collapse fixed-bottom" id="navbarToggleExternalContent">
                <div class="bg-dark p-4">
                    <div style="padding-bottom: 5vh; display: block;">
                        <h4 class="text-white" style="font-size: 33px"><em>Content</em></h4>
                        <a class="text-white display-4" style="font-size: 22px" asp-controller="Home" asp-action="Index" method="post">Map</a>
                        <br />
                        <a class="text-white display-4" style="font-size: 22px" asp-controller="Home" asp-action="Hazards" method="post">Hazards</a>
                    </div>
                </div>
            </div>
            <nav class="navbar fixed-bottom navbar-dark bg-dark">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </nav>
        </div>
    }

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
