﻿ /* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */
a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    border-top: 5px solid darkseagreen;
    background-color: darkseagreen;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
    background-color: azure;
    text-align: center;
}

.container {
    margin-left: 0%;
    margin-right: 0%;
    text-align: center;
}

#padTopBot {
    padding-top: 10px;
    padding-bottom: 10px;
}

#padTopBotLg {
    padding-top: 25px;
    padding-bottom: 25px;
}

#centerDiv {
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
}

#centerMap {
    width: 100%;
    text-align: center;
}

#map {
    width: 100%;
    display: inline-block;
}

#bottomBtn {
    position: absolute;
    bottom: 5.9vh;
    left: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
    padding-left: 0;
    padding-right: 0;
    border-right: 0;
    border-left: 0;
}

input[type='checkbox'] {
    -webkit-appearance: none;
    width: 30px;
    height: 30px;
    background: white;
    border-radius: 5px;
    border: 2px solid #555;
}

    input[type='checkbox']:checked {
        background: #abd;
    }
