@{
    ViewData["Title"] = "Home Page";
}

<head>
    <script>
    function submit_by_name()
    {

    }
    </script>
    
</head>

<div class="text-center">
    <h1 id="padTopBot" class="display-4">Disaster Maps</h1>
    <img src="https://image.flaticon.com/icons/svg/1788/1788740.svg" alt="Icon" style="width:250px;height:250px;">
</div>

<form asp-controller="Home" asp-action="Map" method="post">
    <div id="padTopBotLg" class="form-group text-center font-weight-bold">

        <label>Address</label>
        <input name="Address" id="AddressForm" class="form-control" placeholder="101 SwampHack Drive" maxlength="30">

        <label>City</label>
        <input name="City" id="CityForm" class="form-control" placeholder="Gainseville" maxlength="30">

        <label>State</label>
        <input name="State" id="StateForm" class="form-control text-uppercase" placeholder="FL" maxlength="2">
    </div>
    <div>
        <input id="centerDiv"  class="btn btn-outline-dark btn-lg" type="submit" value="Submit" onclick="submit_by_name()">
    </div>
</form>

